<h1>New game</h1>
<h1 class="letter"><%= @letters %></h1>

<form action="/score">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <h2>What is the longest word you can find ?</h2>
  <input type="text" name="word" placeholder="Insert your word">
  <input type="submit" value="Play">
</form>
